* {
    box-sizing: border-box;
    margin: 0
}
body{
    font-family: Arial, sans-serif;
    background-color: rgb(233, 255, 247);
}
.wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.profile{
    width: 200px;
    margin: auto;
    background-color: white;
    border: none;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgb(184, 184, 184);
}
.avatar{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: rgb(0, 85, 255);
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    border-radius: 50%;
    margin : 2px auto;
}
.profile p{
    margin: 5px;
}
.profile button{
    background-color: black;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 25px;
    margin: 2px auto;
}
